@charset "utf-8";
/* CSS Document */
/* ---------------- reset all tags --------------------------- */
* {
	padding:0px;
	margin:0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family:"Trebuchet MS", Arial, Tahoma;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select {
	font-size:11px;
}
option {
	padding:1px 2px;
}
.conAlterBg {
	background:#f3f3f3;
}
.conAlterDarkBg {
	background:#E8E8E8;
}
.noBotBorder {
	border-bottom:none !important;
}
/* ------------------------- standard elements ------------------------- */
h1 {
	font-size:24px;
	font-weight: bold;
	color: #333333;
}
h1 a {
	color: #333333;
	text-decoration:none;
}
h1 a:hover {
	color: #999999;
	text-decoration:none;
}
h2 {
	font-size:18px;
	font-weight: bold;
	padding: 10px 0 6px 0;
	color: #333333;
}
h3 {
	font-size:16px;
	font-weight: bold;
	padding: 8px 0 4px 0;
	color: #333333;
}
h4 {
	font-size:15px;
	font-weight: bold;
	padding: 6px 0;
	color: #333333;
}
h5 {
	font-size:14px;
	font-weight: bold;
	padding: 4px 0;
	color: #333333;
}
h6 {
	font-size:13px;
	font-weight: bold;
	padding: 2px 0;
	color: #333333;
}
.headSpan {
	color:#ff0000;
}
label
{
font-size:11px;
}
p {
	font-size:11px;
	margin: 4px 0;
	line-height:16px;
	color:#333333;
	padding:0px 0px 10px 0px;
}
.lblStandard {
	padding: 0px 0 0 0;
	line-height:16px;
	display: block;
}
.txtStd {
	background:url(../images/bgTextBox.gif) no-repeat left top;
	border: solid 1px #aaaaaa;
	font: 11px Arial, Helvetica, sans-serif;
	padding: 2px 4px;
	color: #666;
}
.txtStd:focus {
	background:url(../images/bgTextBox.gif) no-repeat left -404px;
}
.txtStdDis {
	background:url(../images/bgTextBox.gif) no-repeat left -809px;
	border: solid 1px #999;
	font: 11px Arial, Helvetica, sans-serif;
	padding: 2px 4px;
	color: #9d9c9c;
}
.btnStandard {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../images/bgButtonOn.gif) repeat-x left center;
	border: solid 1px #be120d;
	font-size:11px;
	cursor: pointer;
	color: #ffffff;
	padding: 1px 4px;
}
.btnStandard:hover {
	border: solid 1px #fe250d;
}
.txtAreaStandard {
	font-size:11px;
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px 2px;
	border: solid 1px #888;
	color:#aaaaaa;
}
.optStandard {
	margin: 0;
	padding: 0;
	font-size:11px;
}
.radioStandard {
	margin: 0 0 0 8px;
	padding: 2px 0 0 0;
}
.chkStandard {
	margin: 0 0 0 0px;
	padding: 0px 0 0 0;
}
a {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration:none;
}
a.hLink1 {
	text-decoration:none;
	color: #000000;
}
a:hover.hLink1 {
	text-decoration:underline;
	color: #000000;
}
a.hLink2 {
	text-decoration:none;
	color: #333333;
	
}
a:hover.hLink2 {
	text-decoration:underline;
	color: #333333;
}
ul {
}
ul li {
	
	background-attachment:scroll;
	background-repeat:no-repeat;
	
}
ul.pdfList {
	float:left;
	clear:both;
	display:block;
	padding:10px;
}
ul.pdfList li {
	background:url(../images/pdfIcon.gif) scroll left 3px no-repeat;
		padding:0px 0px 5px 20px;
}
ul.pdfList li a {
	color:#333333;
	text-decoration:none;
}
ul.pdfList li a:hover {
	color:#333333;
	text-decoration:underline;
}
#globalMenuIn ul li {
	background:none !important;
}
ol {
	list-style-position:inherit;
}
ol li {
	list-style:decimal;
}
.fileStandard {
	background:url(../images/bgTextBox.gif) no-repeat top left;
	border: solid 1px #878787;
	font: 11px Arial, Helvetica, sans-serif;
	color: #999;
}
.noBorder {
	border-bottom:none !important;
}
/* ========================================= tables ======================================== */

/* -------------------- Default Table --------------------- */

table {
	border-collapse: collapse;
	border: solid 2px #FFF;
	margin: 10px 0 20px 0;
	color: #666666;
}
table th {
	font-weight:bold;
	padding:5px;
	background:#d1d1d1;
	color: #333;
}
table tr {
	vertical-align:top;
	background-color: #ffffff;
	border-bottom:2px solid #FFF;
}
table th a {
	color:#333;
	text-decoration:underline;
}
table th a:hover {
	text-decoration: none;
}
table td a {
}
table td a:hover {
}
table td {
	padding: 5px;
	background-color: #F6F6F6;
}
/* -------------------- Alternate Table --------------------- */

table {
	border-collapse: collapse;
	border: solid 2px #FFF;
	margin: 10px 0 20px 0;
	color: #666666;
}
table th {
	font-weight:bold;
	padding:5px;
	background:#d1d1d1;
	color: #333;
}
table tr {
	vertical-align:top;
	background-color: #ffffff;
	border-bottom:2px solid #FFF;
}
table td.alter {
	background-color:#F6F6F6;
}
table th a {
	color:#333;
	text-decoration:underline;
}
table th a:hover {
	text-decoration: none;
}
table td a {
}
table td a:hover {
}
table td {
	padding: 5px;
	background-color:#ffffff;
}
/* -------------------- Table with class 'greyBorder' --------------------- */

.greyBorder {
	border-collapse: collapse;
	border: solid 1px #AAA;
	margin: 10px 0 20px 0;
	color: #666666;
}
.greyBorder th {
	font-weight:bold;
	padding:5px;
	background-color: #FFF;
	border: solid 1px #AAA;
	color: #333;
}
.greyBorder tr {
	vertical-align:top;
	border: solid 1px #AAA;
}
.greyBorder th a {
	text-decoration:underline;
}
.greyBorder th a:hover {
	text-decoration: none;
}
.greyBorder td {
	padding: 5px;
	background: none;
	border: solid 1px #AAA;
}
/* calender table */
.tableCal {
	border-collapse: collapse;
	/*margin: 10px 0 20px 0;*/
	color: #666666;
}
.tableCal th {
	font-weight:bold;
	padding:1px;
	background-color: #F2F9E5;
	color: #333;
}
.tableCal tr {
	vertical-align:top;
	border-bottom: dotted 1px #999;
}
.tableCal th a {
	text-decoration:underline;
}
.tableCal th a:hover {
	text-decoration: none;
}
.tableCal td {
	padding:1px;
	background: none;
}
/* calender table */

/* -------------------- Table with class 'tablePlain' --------------------- */

.tablePlain {
	border-collapse: collapse;
	margin: 10px 0 20px 0;
	color: #666666;
}
.tablePlain th {
	font-weight:bold;
	padding:5px;
	background-color: #ffeff0;
	color: #333;
}
.tablePlain tr {
	vertical-align:top;
	border-bottom: dotted 1px #999;
}
.tablePlain th a {
	text-decoration:underline;
}
.tablePlain th a:hover {
	text-decoration: none;
}
.tablePlain td {
	padding: 5px;
	background: none;
}
/* ------------------------------------*/
body {
	font: normal 11px "Trebuchet MS", Arial, Tahoma;
	padding:0px;
	margin:0px;
	background:#ffffff;
}
.defaultList {
	width:400px;
	clear:both;
}
.defaultList ul {
}
.defaultList ul li {
	list-style:none;
	padding:0px 0px 0px 15px;
}
.defaultList ol {
}
.defaultList ol li {
	padding:0px;
	margin:0px 0px 0px 15px;
}
